<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Welcome</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/index.css">
    </head>
    <body>
        <div class="auth-bg">
            <div class="auth-div">
                <nav>
                    <a href="home">
                        <div class="close-button">

                        </div>
                    </a>
                    <div>
                        <a href="home"><p class="middle-text">MIDDLEEARTHS.</p></a>
                    </div>
                </nav>
                <div class="images-auth">
                    <a href="login_knight">
                        <div class="auth-option, knight">
                            <p class="name-auth-option-knight">Sire Frinn</p>
                            <p class="knight-comment">The Silent Knight of the Red Tower.
                                                      Mysterious intentions brought him to the Middleearth</p>
                         </div>
                    </a>
                    
                    <a href="login_mage">
                        <div class="auth-option, mage">
                            <p class="name-auth-option-mage">Astel</p>
                            <p class="mage-comment">The most famous sage of all Middle-earth, known for his discoveries in alchemy</p>
                        </div>
                    </a>
                    
                    <a href="login_dragon">
                        <div class="auth-option, dragon">
                            <p class="name-auth-option-dragon">Rhaegal</p>
                            <p class="dragon-comment">A powerful dragon, he probably rules everything here ...</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>